APP_NAME=LaravelSwoole
APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:your-generated-key
APP_URL=https://your-domain.com
APP_BASE_PATH=/var/www/laravel
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

# Локальный порт для `make up-prod`
APP_PORT=8050

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=laravel-postgres-sw
DB_PORT=5432
DB_DATABASE=your_db
DB_USERNAME=your_user
DB_PASSWORD=<strong_password>

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=redis
QUEUE_CONNECTION=redis
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local

REDIS_CLIENT=phpredis
REDIS_HOST=laravel-redis-sw
REDIS_PORT=6379
REDIS_PASSWORD=<strong_password>

OCTANE_SERVER=swoole
OCTANE_STATE_FILE=/var/www/laravel/storage/framework/octane-server-state.json
SWOOLE_WORKERS=2
SWOOLE_TASK_WORKERS=2
SWOOLE_MAX_REQUESTS=200
