# Dependencies
/vendor/
/node_modules/

# Environment
.env
.env.backup
.env.production
!.env.docker

# Laravel Framework
/public/build/
/public/hot/
/public/storage
/storage/*.key
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/

# Testing
/.phpunit.cache
.phpunit.result.cache

# IDE & Editors
/.fleet
/.idea/
/.nova
/.vscode/
/.zed
.phpactor.json

# OS
.DS_Store
Thumbs.db

# Misc
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Docker
/docker/postgres_data/

# Claude
.claude/